/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --bg-color: #FFC2E6;
  --header-color: #FFC2E6;
  --main-color: #353430;
  --second-color: #FFF1F7;
  --accent-color: #ff8dcb;
  --nav-color: #353430;
  --spec-color: rgba(50, 49, 45, 0.4);
  --text-color: #353430;
  --accent-spec-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --bg-color: #FFC2E6;
    --header-color: #FFC2E6;
    --main-color: #353430;
    --second-color: #FFF1F7;
    --accent-color: #ff8dcb;
    --nav-color: #353430;
    --spec-color: rgba(50, 49, 45, 0.4);
    --text-color: #353430;
    --accent-spec-color: transparent;
  }
} 
